html, body {
    min-width: 100%;
    min-height: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    overflow-y: hidden;
}

/*Header*/
header {
    background: #03A9F4;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-weight: bold;
}

header #propic {
    display: inline;
    max-width: 13vh;
    max-height: 13vh;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 8%;
}

header #name {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 3.5vw;
    display: inline;
    vertical-align: middle;
}

header #search {
    max-width: 6vh;
    display: inline;
    vertical-align: middle;
    margin-left: 8%;
}

/*Main Section*/
section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 5px;
}

.card {
    box-shadow: 0 2px 3px #aaa;
    border-radius: 3.5px;
    width: 260px;
    margin: 20px;
}

.cardBar {
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.cardTitle {
    display: inline;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 1.5vw;
    color: white;
}

.cardContent {
    max-height: 60px;
    overflow-y: hidden;
    line-height: 60px;
    margin: 20px 10px;
    vertical-align: middle;
}

.cardExpand {
    height: 40px;
    margin: 0;
    text-align: center;
    color: white;
}

#card-0 {
    background: #FFEBEE;
}

#card-0 .cardBar, #card-0 .cardExpand {
    background: #F44336;
}

#card-1 {
    background: #E0F2F1;
}

#card-1 .cardBar {
    background: #009688;
}

#card-2 {
    background: #FBE9E7;
}

#card-2 .cardBar, #card-2 .cardExpand {
    background: #FF5722;
}

#card-3 {
    background: #F3E5F5;
}

#card-3 .cardBar, #card-3 .cardExpand {
    background: #9C27B0;
}

#card-4 {
    background: #E1F5FE;
}

#card-4 .cardBar, #card-4 .cardExpand {
    background: #00BCD4;
}
/*Grid for the apps*/
.gridItem {
    width: 60px;
    background: none;
    margin: 0 10px;
    height: 60px;
}

.gridItem img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}

.needsBorder img {
    /*border-style: solid;*/
    /*border-color: #000000;*/
    /*border-width: 1px;*/
}

#container {
    margin: 0 auto;
}

/*footer*/
footer {
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
}
