html, body {
	min-width: 100%;
	min-height: 100%;
}

/*Header*/
header {
	background: #2196F3;
	width: 100vw;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
}

header #propic {
	display: inline;
	max-width: 100px;
	max-height: 100px;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 8%;
}

header #name {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 3.5vw;
	display: inline;
	vertical-align: middle;
}

header #search {
	max-width: 50px;
	display: inline;
	vertical-align: middle;
	margin-left: 8%;
}

/*Grid for the apps*/
.item {
	width: 150px;
	height: 150px;
	background: none;
	margin: 20px;
}

.item img {
	width: 150px;
	height: 150px;
	border-radius: 20%;
}

#container {
	margin: 0 auto;
}
